<!DOCTYPE html>
<html lang="en">

<head>


    <title>rPOS</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    
</head>

<body>
    
    


    
    
    <!-- Content Area -->
    <!-- Page Content -->
    <div class="container">
      

        <div class="row">
            
          <div class="col-xs-12 text-center">Info here</div>
                    
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    
    
    

    <!-- jQuery Version 1.11.1 -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
