<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    
	<!-- external JS code needed for client
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">	
	-->	
	<!-- local versions of above external code -->
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/waiter.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<!-- JavaScript -->
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/socket.io.min.js"></script>
	<script type="text/javascript" src="/static/js/waiter.js"></script>
	</head>
	
	<body>
	 <h1>Waiter Page</h1>
	<!-- <div class="container">
	 <div class="row">

	 </div></div>-->
	 <div class="container">
		 <div class="row-fluid">
			<div class="col-sm-3" id="terminal"></div>
			<div class="col-sm-6" id="categoryView">
			<div class="col-sm-6" id="itemView"></div></div>
				<button type="button" class="btn btn-primary" id="remove">REMOVE</button>
				<button type="button" class="btn btn-primary" id="modify">MODIFY</button>			
			<div class="col-sm-3 orderArea" id="orderArea">	</div>

			<div class="col-sm-12 orderArea" id="orderTotal">Total:  $0.00</div>
			<button type="button" class="btn btn-primary" id="sendOrder">SEND ORDER</button>				
			</div>
	</div>
</body>
</html>