#orderArea{
	background-color:yellow;
	text-align: justify;}
#terminal{
padding-right: 0px;
}
#itemView{
	width: 100%;
}
.button{
	overflow:hidden;
	white-space: nowrap;	
	border-bottom-style: solid;
	border-color: #ffffff;
	background-color:red;
	text-align: center;
	vertical-align: middle;
	text-align: center;
	line-height: 50px;}


.orderArea{
	position: relative;
}
.subbutton{
	 overflow:hidden;
	display: none;
	width: 50%;
	float: left;
	border-style: solid;
	border-color: #ffffff;
	background-color:green;
	text-align: center;
	vertical-align: middle;
	text-align: center;
	line-height: 50px;}

.item{
	overflow:hidden;
	display: none;
	width: 100%;
	clear: right;
	border-style: solid;
	border-color: #000000;
	background-color:white;
	text-align: center;
	vertical-align: middle;
	text-align: center;
	line-height: 50px;}
		
.ActiveCategory{
	background-color:blue;
	}
.ActiveItem{
	background-color:yellow;
	}	

	
.item:hover{
	background-color:yellow;
	text-align: center;}
	
#sendOrder{
	position: relative;
	background-color: orange;
}