#orderArea{
	height:70px;
	background-color:yellow;
	text-align: justify;}

.button{
	width:50%;
	height:70px;//maybe remove this and allow auto size?
	white-space: nowrap;	
	float:left;
	border-style: solid;
	border-color: #ffffff;
	background-color:red;
	text-align: center;
	vertical-align: middle;
	text-align: center;
	line-height: 50px;}
	
	
.subbutton{width:100%;
	height:70px;
	float:none;
	border-style: solid;
	border-color: #ffffff;
	background-color:green;
	text-align: center;
	vertical-align: middle;
	text-align: center;
	line-height: 50px;}
		
.button:hover{
	background-color:blue;
	text-align: center;}
	
.subbutton:hover{
	background-color:red;
	text-align: center;}