.container{width:75%;
	height:50%;
	background-color:transparent;
	text-align: justify;}

.button{width:170px;
	height:325px;
	float:left;
	border-style: solid;
	border-color: #ffffff;
	background-color:red;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	text-align: center;
	line-height: 100px;}
	
.button:hover{
	background-color:blue;
	text-align: center;}